<HTML>
    <head>
    </head>
    <body>
        <form method="POST" action="">
            <center>
                <H1>Enter your details </H1> <br>
                <label>Name</label> 
                <input type = "text" name= "nome" id= "nome" required /> <br>
                <label>Email</label>
                <input type = "text" name = "email" id= "email" required /> <br>
                <label>Comentario</label>
                <input type = "text" name ="comentario" id="comentario" required/> <br>
                <input type = "Enviar">
            </center>
        </form>
    </body>
    </HTML>